input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body {
	background-color: cadetblue;
}

/* ///////////////////////// */
/* template topic switcher */

.bog {
	background-color: white;
	height: 3.3rem;
	border-radius: 2px;
	display: flex;
	/* width: 100%; */
	padding: 0;
	cursor: unset;
}
@media (max-width: 400px) {
	.bog {
		display: inline;
	}
}

.butt {
	margin: 0;
	color: #5c6ac4;
	background-color: rgba(92, 106, 196, 0.197);
	/* width: 15rem; */
	text-align: center;
	width: 100%;
	padding: 0.6rem;
	height: 3.3rem;
	border-radius: 2px;
	cursor: pointer;
}
.butti {
	cursor: pointer;
	color: white;
	background-color: #5c6ac4; /* width: 15rem; */
	text-align: center;
	width: 100%;
	padding: 0.6rem;
	height: 3.3rem;
	border-radius: 4px;
}

/* ////// */
/* toast message  */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #5c6ac4;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 16px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

.button-shopify {
	color: white;
	background-color: #5c6ac4;
	border: 1px solid #2c3ca3;
	/* height: 35px; */
	padding: 7px 16px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	/* width: 100px; */
}
.button-shopify:hover {
	background-color: #4a59b9;
}
